/* all */
$white: #ffffff;
$white2: #efefef;
$black: #000000;
$title: #f5f6f7;
$title2: #c1c1c1;
$title3: #e7e7e7;;
$number-squared: #f5f6f7;
$grey-block: #f5f4f9;
$dark-navy: #0a0e34;
$plus: #cfc6e7;
$strip: #9172e6;
$light-purple: #9071ea;
$light-purple2: #9173ea;
$light-grayish-purple: #a496ca;
$bright-purple: #5e42b0;
$curtain: rgba(15, 18, 52, 0.9);
$curtain-footer: rgba(12, 18, 52, 0.8);
$bg-image: #f26163;
$carousel: #d8d8d8;
$carousel-active: #5c3caf;
$light-plus: #cfc6e7;