@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-bold/subset-ProximaNova-Bold.eot');
    src: url('../fonts/proximanova-bold/subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanova-bold/subset-ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/proximanova-bold/subset-ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-light/subset-ProximaNova-Light.eot');
    src: url('../fonts/proximanova-light/subset-ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanova-light/subset-ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/proximanova-light/subset-ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-regular/subset-ProximaNova-Regular.eot');
    src: url('../fonts/proximanova-regular/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanova-regular/subset-ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/proximanova-regular/subset-ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-semibold/subset-ProximaNova-Semibold.eot');
    src: url('../fonts/proximanova-semibold/subset-ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanova-semibold/subset-ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/proximanova-semibold/subset-ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}